@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --background-color: #f0f0f0;
    --semi-transparent-background: rgba(240, 240, 240, 0.3);
    --text-color: #000000;
    --muted-text-color: #6b7280;
    --accordion-bg: #f8f9fa;
    --accordion-button-bg: #f0f0f0;
    --accordion-shadow: rgba(0, 0, 0, 0.05);
    --time-tab-btn-hover-bg: #e9ecef;
    --footer-border-color: #eee;
    --header-border-color: #d1d5db;
    --footer-link-color: #000000;
    --footer-span-color: #6c757d;
    --mobile-frame-bg-image: url(../img/mobile-bg.svg);
}

.dark-mode {
    --background-color: #1a1a1a;
    --semi-transparent-background: rgba(26, 26, 26, 0.3);
    --text-color: #e0e0e0;
    --muted-text-color: #a0a0a0;
    --accordion-bg: #2a2a2a;
    --accordion-button-bg: #3a3a3a;
    --accordion-shadow: rgba(255, 255, 255, 0.05);
    --time-tab-btn-hover-bg: #4a4a4a;
    --footer-border-color: #333;
    --header-border-color: #4a4a4a;
    --footer-link-color: #e0e0e0;
    --footer-span-color: #888;
    --mobile-frame-bg-image: url(../img/light-mobile.png);
}


.dark-mode .accordion-button::after {
    filter: invert(1);
}

.dark-mode .intro-text-section h5 {
    color: #e0e0e0;

}

.dark-mode .accordion-button {
    background-color: #1a1a1a;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    transition: background-color 0.5s ease;
    background-color: var(--background-color);
    overflow: hidden;
}

#mouseAnimationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

.mobile-frame {
    width: 316px;
    height: 650px;
    background-image: var(--mobile-frame-bg-image);
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    background-size: contain;
    background-position: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
    z-index: 10;
}



.header {
    text-align: center;
    /* margin-bottom: 20px; */
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.date-section {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    padding-left: 7px;
}

.time-tabs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0px;
}

.time-tab-btn {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    transition: opacity 0.3s ease, color 0.3s ease;
    position: relative;
    white-space: nowrap;
}

.time-tab-btn::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.time-tab-btn.active {
    opacity: 1;
}

.time-tab-btn.active::after {
    transform: translateX(-50%) scaleX(1);
}

.time-tab-btn:hover {
    opacity: 1;
}

.knontrst_sec {
    padding: 20px;
    color: var(--muted-text-color);
    font-size: 0.9rem;
    background: var(--semi-transparent-background);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 10px;
}

.news-headlines-section {

    flex-grow: 1;
    overflow-y: auto;
    background: var(--semi-transparent-background);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.intro-text-section {
    padding: 20px 7px;
    flex-grow: 1;

    overflow-y: auto;
    max-height: 70vh;
    scrollbar-width: none;
}

.intro-text-section p {
    color: var(--text-color);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.intro-text-section h5 {
    margin-top: 0rem;
  font-size: 0.9rem;
    font-weight: 400;
}

.intro-text-section .sub-text {
    color: var(--muted-text-color);
    font-size: 0.9rem;
}

.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--header-border-color);
}

#categoryTabsContainer {
    padding: 0px 7px;
}

.accordion-button {
    background-color: transparent;
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.accordion {
    --bs-accordion-btn-icon-width: 15px;
}

.accordion-button:not(.collapsed) {
    color: var(--text-color);
    background-color: var(--accordion-button-bg);
    box-shadow: var(--accordion-shadow);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: var(--header-border-color);
}

.accordion-body {
    background-color: transparent;
    color: var(--muted-text-color);
    font-size: 0.9rem;
    padding: 8px;
}

.footer {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--footer-span-color);
    border-top: 1px solid var(--footer-border-color);
}

#infoButton,
#darkModeToggle {
    position: absolute;
    top: 65px;
    right: 0;

    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
    z-index: 10;
}

#infoButton {
    right: 50px;
    font-size: 1.1rem;
    color: var(--info-icon-color);
}

.d-none {
    display: none !important;
}

@media (max-width: 768px) {
    .header {
        padding-top: 30px;
    }

    body {
        min-height: auto;
        justify-content: start;
    }

    .mobile-frame {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}



@media (max-width: 768px) {
    .header {
        padding-top: 30px;
    }

    body {
        min-height: auto;
        justify-content: start;
    }

    .mobile-frame {
        width: 100%;
        height: 100dvh;
        background-image: unset;
    }

    .dark-mode .mobile-frame {
        background-image: unset;
    }



    #darkModeToggle {
        position: absolute;
        top: 20px;
        right: 0;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: color 0.3s ease;
        z-index: 10;
    }

    .date-section,
    .active-time-display,
    .time-tab-btn,
    .news-headlines-section .accordion-button,
    .news-headlines-section .accordion-body {
        font-size: 16px;
    }
}